// Dimensions
//============================================================
$base_width: 1200px
$gutter: 30px
$gutter_small: $gutter / 2
$gutter_body: 40px

$w_play_button: 90px
$w_nav_arrow: 60px
$h_quote_triangle: 20px

// Breakpoints
//============================================================
$bp_home_type_downsize: 580px
$bp_header_nav_stacked: 730px
$bp_nav_stacked: 615px
$bp_static_blocks: 600px // max-height

// Colors
//============================================================
$bg_white_overlay: rgba(#fff, 0.9)

// Type
//============================================================
$ff_sans: "proxima-nova",sans-serif
$ff_serif: "clavo", $ff_sans

$fs_body: 15px
$fs_body_small: 13px

$tc_dark: #111