@import 'vars'
@import 'toolbox'
@import 'mediaelementplayer'

*
  +box-sizing(border-box)

body
  font-family: $ff_sans
  font-size: $fs_body
  margin: 0
  padding: 0
  background: #111

h1, h2, h3, h4
  +antialias
  font-family: $ff_serif
  font-weight: 500
  margin: 0

a
  color: #fff

.page-content
  position: relative
  z-index: 10
  color: #fff

.logo
  font-family: $ff_sans
  font-weight: bold
  text-transform: uppercase
  font-size: 90px
  line-height: 1

.nav-arrow
  position: fixed
  top: 0
  height: 100%
  padding: 0 30px
  cursor: pointer
  z-index: 200

  &:hover img
    opacity: 0.6

  img
    +vertAlign
    width: 17px
    left: 50%
    margin-left: negativeHalf(17px)

.nav-next
  right: 0


// Footer
//============================================================
.primary-footer
  position: fixed
  color: #fff
  font-size: $fs_body_small
  text-align: center
  bottom: 15px
  width: 100%
  z-index: 200

  a:hover
    opacity: 0.6

// Homepage
//============================================================
.page-home
  text-align: center

  .story-bg
    opacity: 0.30

  .page-content
    +vertAlign
    width: 100%
    padding: 0 100px

.tagline p, .home-quote
  +antialias
  font-family: $ff_serif
  font-style: italic
  font-weight: 300
  font-size: 30px
  margin: 0

.tagline
  max-width: 700px
  margin: auto

.home-quote
  border: 2px solid #fff
  border-top: 0 none
  width: 357px - 5
  margin: auto
  margin-top: 39px + 15px
  position: relative
  padding: 30px
  font-size: 24px

  &:before
    content: ''
    background: url('/images/quote-box-top.svg') center top repeat-x
    position: absolute
    top: -39px + 2
    left: 0
    right: 0
    height: 39px

.home-link-mask
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 100
  cursor: pointer

// Stories
//============================================================
.story-bg
  background: center center no-repeat
  background-size: cover
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 0
  opacity: 0.75

.play-button
  font-size: 40px
  height: $w_play_button
  width: $w_play_button
  position: absolute
  left: 0
  top: 0
  display: inline-block
  line-height: 101px
  border-radius: 50%
  background-color: #000
  color: #fff
  text-align: center
  padding-left: 8px
  cursor: pointer
  transition: background 250ms ease

  &.is-loading
    color: transparent
    background: url('/images/loader.gif') center center no-repeat #000

  &.is-playing
    padding-left: 0
    font-size: 32px

  &:hover
    background-color: rgba(#000, 0.65)

.player
  position: relative
  min-height: $w_play_button
  left: 0
  padding-left: $w_play_button + $gutter_small
  padding-bottom: $h_quote_triangle

.audio-caption
  color: #fff
  margin: 10px 0 0
  font-size: 11px
  display: block

.mejs-time-rail
  height: 3px

.mejs-time-total
  height: 3px
  background: #fff

.mejs-time-current
  background: #000
  position: absolute
  left: 0
  top: 0
  height: 100%

.mejs-container
  width: 100% !important

.mejs-controls .mejs-time-rail .mejs-time-float
  background: #fff
  border: 0 none

.mejs-controls .mejs-time-rail .mejs-time-float-corner
  border-color: #fff rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0)

.mejs-controls .mejs-time-rail .mejs-time-float-current
  margin: 3px 2px

.story-quote
  margin: 0
  padding: 15px 20px
  background: #fff
  // color: #fff
  font-family: $ff_serif
  font-size: 14px
  font-weight: 300
  font-style: italic
  line-height: 1.5
  position: relative

  .triangle
    +triangle($h_quote_triangle, 1)
    border-color: #fff
    bottom: -$h_quote_triangle
    right: $h_quote_triangle
    position: absolute


.story-info
  position: relative
  z-index: 10
  padding: $gutter
  max-width: 400px

.story-title
  font-size: 36px
  letter-spacing: -1px
  margin-top: $gutter

.story-subtitle
  font-size: $fs_body
  font-weight: 300
  font-style: italic

.story-body
  line-height: 1.5
  background: #fff
  padding: $gutter_small
  margin-top: $gutter

  p
    margin: 0 0 1em

    &:last-child
      margin-bottom: 0


// Default page template
//============================================================