{% capture content %}
  {% for asset in assets %}
    {% if asset.type == 'image' %}
      <div class="story-bg" data-bg="{{ asset.url }}"></div>
      {% break %}
    {% endif %}
  {% endfor %}

  <section class="story-info">
    <div class="player">
      <span class="play-button ss-icon is-loading">play</span>

      {% if meta.quote %}
        <blockquote class="story-quote"><p>{{ meta.quote }}</p></blockquote>
      {% endif %}
    </div>

    {% for asset in assets %}
      {% if asset.type == 'audio' %}
        <audio src="{{ asset.url }}" controls="controls" id="audio-player"></audio>
        {% break %}
      {% endif %}
    {% endfor %}

    {% comment %}{% if meta.audio_caption %}
      <p class="audio-caption">{{ meta.audio_caption }}</p>
    {% endif %}{% endcomment %}

    <div class="story-title-wrap">
      <h1 class="story-title"{% if meta.title_color %} style="color: {{ meta.title_color }}"{% endif %}>{{ title }}</h1>
      {% if meta.subtitle %}
        <h2 class="story-subtitle"{% if meta.title_color %} style="color: {{ meta.title_color }}"{% endif %}>{{ meta.subtitle }}</h2>
      {% endif %}
    </div>

    <div class="story-body is-collapsed"{% if meta.story_bg || meta.story_color %} style="background-color: {{ meta.story_bg }}; color: {{ meta.story_color }}"{% endif %}>{{ body }}</div>

    <span class="story-toggle">+ more</span>
  </section>

  {% if next %}
    <a href="{{ next.url }}" class="nav-arrow nav-prev">
      <img src="/images/icon-arrow-left.svg" alt="prev" />
    </a>
  {% endif %}

  {% if previous %}
    <a href="{{ previous.url }}" class="nav-arrow nav-next">
      <img src="/images/icon-arrow-right.svg" alt="next" />
    </a>
  {% endif %}
{% endcapture %}

{% capture footer_scripts %}
  <script src="/scripts/js/min/story.js"></script>
{% endcapture %}

{% include 'layouts/default'  %}